@media (max-width: 375px){
    .main-head, .main-nav, .side, .ad, .main-footer{
        display: none;
    }

    .wrapper {
        grid-template-areas:
          "content";
        }
      nav ul {
        flex-direction: column;
        }
}